### Importación de datos

In [3]:
import pandas as pd

url1 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_1%20.csv"
url2 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_2.csv"
url3 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_3.csv"
url4 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_4.csv"

tienda1 = pd.read_csv(url1)
tienda2 = pd.read_csv(url2)
tienda3 = pd.read_csv(url3)
tienda4 = pd.read_csv(url4)

tienda1.head()

,Producto,Categoría del Producto,Precio,Costo de envío,Fecha de Compra,Vendedor,Lugar de Compra,Calificación,Método de pago,Cantidad de cuotas,lat,lon
0,Asistente virtual,Electrónicos,164300.0,6900.0,16/01/2021,Pedro Gomez,Bogotá,4,Tarjeta de crédito,8,4.60971,-74.08175
1,Mesa de comedor,Muebles,192300.0,8400.0,18/05/2022,Beatriz Morales,Medellín,1,Tarjeta de crédito,4,6.25184,-75.56359
2,Juego de mesa,Juguetes,209600.0,15900.0,15/03/2021,Juan Fernandez,Cartagena,1,Tarjeta de crédito,1,10.39972,-75.51444
3,Microondas,Electrodomésticos,757500.0,41000.0,03/05/2022,Juan Fernandez,Cali,4,Nequi,1,3.43722,-76.52250
4,Silla de oficina,Muebles,335200.0,20200.0,07/11/2020,Maria Alfonso,Medellín,5,Nequi,1,6.25184,-75.56359

#1. Análisis de facturación

En este primer análisis, debes calcular el ingreso total de cada tienda. Sumando los valores de la columna Precio de cada conjunto de datos de la tienda para estimar los ingresos.

In [5]:
total_tienda1 = tienda1['Precio'].sum()
total_tienda2 = tienda2['Precio'].sum()
total_tienda3 = tienda3['Precio'].sum()
total_tienda4 = tienda4['Precio'].sum()

In [10]:
print(f' La suma total de la tienda1 es: ${total_tienda1:,.2f}')
print(f' La suma total de la tienda2 es: ${total_tienda2:,.2f}')
print(f' La suma total de la tienda3 es: ${total_tienda3:,.2f}')
print(f' La suma total de la tienda4 es: ${total_tienda4:,.2f}')

 La suma total de la tienda1 es: $1,150,880,400.00
 La suma total de la tienda2 es: $1,116,343,500.00
 La suma total de la tienda3 es: $1,098,019,600.00
 La suma total de la tienda4 es: $1,038,375,700.00

In [11]:
def format_latam(number):
    # Format with default (English) locale: comma for thousands, period for decimal
    formatted_str = f"{number:,.2f}"
    # Replace thousands separator (comma) with a temporary character
    formatted_str = formatted_str.replace(",", "#")
    # Replace decimal separator (period) with a comma
    formatted_str = formatted_str.replace(".", ",")
    # Replace temporary character with a period
    formatted_str = formatted_str.replace("#", ".")
    return formatted_str

In [12]:
print(f' La suma total de la tienda1 es: ${format_latam(total_tienda1)}')
print(f' La suma total de la tienda2 es: ${format_latam(total_tienda2)}')
print(f' La suma total de la tienda3 es: ${format_latam(total_tienda3)}')
print(f' La suma total de la tienda4 es: ${format_latam(total_tienda4)}')

 La suma total de la tienda1 es: $1.150.880.400,00
 La suma total de la tienda2 es: $1.116.343.500,00
 La suma total de la tienda3 es: $1.098.019.600,00
 La suma total de la tienda4 es: $1.038.375.700,00

# 2. Ventas por categoría

En este debes calcular la cantidad de productos vendidos por categoría en cada tienda. La idea es agrupar los datos por categoría y contar el número de ventas de cada tipo, mostrando las categorías más populares de cada tienda

In [18]:
ventas_por_categoria_tienda1 = tienda1.groupby('Categoría del Producto')['Precio'].sum().sort_values(ascending=False)
ventas_por_categoria_tienda2 = tienda2.groupby('Categoría del Producto')['Precio'].sum().sort_values(ascending=False)
ventas_por_categoria_tienda3 = tienda3.groupby('Categoría del Producto')['Precio'].sum().sort_values(ascending=False)
ventas_por_categoria_tienda4 = tienda4.groupby('Categoría del Producto')['Precio'].sum().sort_values(ascending=False)

print("Ventas por Categoría - Tienda 1:")
print(ventas_por_categoria_tienda1.apply(format_latam).to_string()) #Coloco el to_string para eliminar los metadatod de Name: Precio y dtype
print("\nVentas por Categoría - Tienda 2:")
print(ventas_por_categoria_tienda2.apply(format_latam).to_string())
print("\nVentas por Categoría - Tienda 3:")
print(ventas_por_categoria_tienda3.apply(format_latam).to_string())
print("\nVentas por Categoría - Tienda 4:")
print(ventas_por_categoria_tienda4.apply(format_latam).to_string())

Ventas por Categoría - Tienda 1:
Categoría del Producto
Electrónicos               429.493.500,00
Electrodomésticos          363.685.200,00
Muebles                    187.633.700,00
Instrumentos musicales      91.299.000,00
Deportes y diversión        39.290.000,00
Juguetes                    17.995.700,00
Artículos para el hogar     12.698.400,00
Libros                       8.784.900,00

Ventas por Categoría - Tienda 2:
Categoría del Producto
Electrónicos               410.831.100,00
Electrodomésticos          348.567.800,00
Muebles                    176.426.300,00
Instrumentos musicales     104.990.300,00
Deportes y diversión        34.744.500,00
Juguetes                    15.945.400,00
Artículos para el hogar     14.746.900,00
Libros                      10.091.200,00

Ventas por Categoría - Tienda 3:
Categoría del Producto
Electrónicos               410.775.800,00
Electrodomésticos          329.237.900,00
Muebles                    201.072.100,00
Instrumentos musicales      77.380.900,00
Deportes y diversión        35.593.100,00
Juguetes                    19.401.100,00
Artículos para el hogar     15.060.000,00
Libros                       9.498.700,00

Ventas por Categoría - Tienda 4:
Categoría del Producto
Electrónicos               409.476.100,00
Electrodomésticos          283.260.200,00
Muebles                    192.528.900,00
Instrumentos musicales      75.102.400,00
Deportes y diversión        33.350.100,00
Juguetes                    20.262.200,00
Artículos para el hogar     15.074.500,00
Libros                       9.321.300,00

### Conteo de productos vendidos por categoría

In [19]:
conteo_productos_tienda1 = tienda1.groupby('Categoría del Producto').size().sort_values(ascending=False)
conteo_productos_tienda2 = tienda2.groupby('Categoría del Producto').size().sort_values(ascending=False)
conteo_productos_tienda3 = tienda3.groupby('Categoría del Producto').size().sort_values(ascending=False)
conteo_productos_tienda4 = tienda4.groupby('Categoría del Producto').size().sort_values(ascending=False)

print("Conteo de Productos por Categoría - Tienda 1:")
print(conteo_productos_tienda1.to_string())
print("\nConteo de Productos por Categoría - Tienda 2:")
print(conteo_productos_tienda2.to_string())
print("\nConteo de Productos por Categoría - Tienda 3:")
print(conteo_productos_tienda3.to_string())
print("\nConteo de Productos por Categoría - Tienda 4:")
print(conteo_productos_tienda4.to_string())

Conteo de Productos por Categoría - Tienda 1:
Categoría del Producto
Muebles                    465
Electrónicos               448
Juguetes                   324
Electrodomésticos          312
Deportes y diversión       284
Instrumentos musicales     182
Libros                     173
Artículos para el hogar    171

Conteo de Productos por Categoría - Tienda 2:
Categoría del Producto
Muebles                    442
Electrónicos               422
Juguetes                   313
Electrodomésticos          305
Deportes y diversión       275
Instrumentos musicales     224
Libros                     197
Artículos para el hogar    181

Conteo de Productos por Categoría - Tienda 3:
Categoría del Producto
Muebles                    499
Electrónicos               451
Juguetes                   315
Electrodomésticos          278
Deportes y diversión       277
Libros                     185
Artículos para el hogar    177
Instrumentos musicales     177

Conteo de Productos por Categoría - Tienda 4:
Categoría del Producto
Muebles                    480
Electrónicos               451
Juguetes                   338
Deportes y diversión       277
Electrodomésticos          254
Artículos para el hogar    201
Libros                     187
Instrumentos musicales     170

# 3. Calificación promedio de la tienda

En este paso, debes calcular las calificaciones promedio de los clientes para cada tienda. El objetivo es conocer la satisfacción del cliente con los productos vendidos.

In [20]:
calificacion_promedio_tienda1 = tienda1['Calificación'].mean()
calificacion_promedio_tienda2 = tienda2['Calificación'].mean()
calificacion_promedio_tienda3 = tienda3['Calificación'].mean()
calificacion_promedio_tienda4 = tienda4['Calificación'].mean()

print(f'Calificación promedio de la Tienda 1: {calificacion_promedio_tienda1:.2f}')
print(f'Calificación promedio de la Tienda 2: {calificacion_promedio_tienda2:.2f}')
print(f'Calificación promedio de la Tienda 3: {calificacion_promedio_tienda3:.2f}')
print(f'Calificación promedio de la Tienda 4: {calificacion_promedio_tienda4:.2f}')

Calificación promedio de la Tienda 1: 3.98
Calificación promedio de la Tienda 2: 4.04
Calificación promedio de la Tienda 3: 4.05
Calificación promedio de la Tienda 4: 4.00

# 4. Productos más y menos vendidos

En este paso, debes identificar qué productos fueron los más vendidos y los menos vendidos en cada tienda. Visualiza los resultados para que quede claro qué productos destacaron en ventas en cada tienda.

In [22]:
conteo_productos_tienda1_df = tienda1.groupby('Producto').size().sort_values(ascending=False)
top_5_tienda1 = conteo_productos_tienda1_df.head(5)
bottom_5_tienda1 = conteo_productos_tienda1_df.tail(5)

conteo_productos_tienda2_df = tienda2.groupby('Producto').size().sort_values(ascending=False)
top_5_tienda2 = conteo_productos_tienda2_df.head(5)
bottom_5_tienda2 = conteo_productos_tienda2_df.tail(5)

conteo_productos_tienda3_df = tienda3.groupby('Producto').size().sort_values(ascending=False)
top_5_tienda3 = conteo_productos_tienda3_df.head(5)
bottom_5_tienda3 = conteo_productos_tienda3_df.tail(5)

conteo_productos_tienda4_df = tienda4.groupby('Producto').size().sort_values(ascending=False)
top_5_tienda4 = conteo_productos_tienda4_df.head(5)
bottom_5_tienda4 = conteo_productos_tienda4_df.tail(5)

print("Top 5 productos más vendidos - Tienda 1:")
print(top_5_tienda1)
print("\nBottom 5 productos menos vendidos - Tienda 1:")
print(bottom_5_tienda1)

print("\nTop 5 productos más vendidos - Tienda 2:")
print(top_5_tienda2)
print("\nBottom 5 productos menos vendidos - Tienda 2:")
print(bottom_5_tienda2)

print("\nTop 5 productos más vendidos - Tienda 3:")
print(top_5_tienda3)
print("\nBottom 5 productos menos vendidos - Tienda 3:")
print(bottom_5_tienda3)

print("\nTop 5 productos más vendidos - Tienda 4:")
print(top_5_tienda4)
print("\nBottom 5 productos menos vendidos - Tienda 4:")
print(bottom_5_tienda4)

Top 5 productos más vendidos - Tienda 1:
Producto
Armario             60
TV LED UHD 4K       60
Microondas          60
Secadora de ropa    58
Mesa de noche       56
dtype: int64

Bottom 5 productos menos vendidos - Tienda 1:
Producto
Mochila                      39
Pandereta                    36
Olla de presión              35
Celular ABXY                 33
Auriculares con micrófono    33
dtype: int64

Top 5 productos más vendidos - Tienda 2:
Producto
Iniciando en programación    65
Microondas                   62
Batería                      61
Pandereta                    58
Guitarra acústica            58
dtype: int64

Bottom 5 productos menos vendidos - Tienda 2:
Producto
Auriculares        37
Sillón             35
Impresora          34
Mesa de comedor    34
Juego de mesa      32
dtype: int64

Top 5 productos más vendidos - Tienda 3:
Producto
Kit de bancas      57
Mesa de comedor    56
Cama king          56
Set de ollas       55
Mesa de noche      55
dtype: int64

Bottom 5 productos menos vendidos - Tienda 3:
Producto
Guitarra eléctrica         38
Mochila                    36
Microondas                 36
Set de vasos               36
Bloques de construcción    35
dtype: int64

Top 5 productos más vendidos - Tienda 4:
Producto
Cama box                     62
Cubertería                   59
Cama king                    56
Dashboards con Power BI      56
Carrito de control remoto    55
dtype: int64

Bottom 5 productos menos vendidos - Tienda 4:
Producto
Ciencia de datos con Python    38
Refrigerador                   38
Guitarra acústica              37
Armario                        34
Guitarra eléctrica             33
dtype: int64

# 5. Envío promedio por tienda

En este paso, debes calcular el costo de envío promedio para cada tienda. El objetivo es comprender cuánto se gasta, en promedio, en el envío de cada tienda.  Sabiendo que el cliente paga el envío.

In [23]:
costo_envio_promedio_tienda1 = tienda1['Costo de envío'].mean()
costo_envio_promedio_tienda2 = tienda2['Costo de envío'].mean()
costo_envio_promedio_tienda3 = tienda3['Costo de envío'].mean()
costo_envio_promedio_tienda4 = tienda4['Costo de envío'].mean()

print(f'Costo de envío promedio de la Tienda 1: ${format_latam(costo_envio_promedio_tienda1)}')
print(f'Costo de envío promedio de la Tienda 2: ${format_latam(costo_envio_promedio_tienda2)}')
print(f'Costo de envío promedio de la Tienda 3: ${format_latam(costo_envio_promedio_tienda3)}')
print(f'Costo de envío promedio de la Tienda 4: ${format_latam(costo_envio_promedio_tienda4)}')

Costo de envío promedio de la Tienda 1: $26.018,61
Costo de envío promedio de la Tienda 2: $25.216,24
Costo de envío promedio de la Tienda 3: $24.805,68
Costo de envío promedio de la Tienda 4: $23.459,46

Después de realizar los análisis, es hora de transformar sus resultados en visualizaciones que le ayuden a comprender mejor los patrones y los insights encontrados.

De acuerdo con funciones que haya creado, le recomendamos que genere al menos tres gráficos. Estos gráficos deben ser de diferentes tipos (como barras, líneas, dispersión, entre otros) para presentar una visión completa de los datos.

Recuerde que los gráficos deben complementar el análisis realizado, resaltando los puntos más relevantes, como los ingresos de la tienda, la distribución de categorías de productos, las opiniones de los clientes, los productos más vendidos y/o los costes de envío.

No es necesario mostrar una visualización en cada paso, pero al final del análisis debes generar los gráficos que consideres más útiles para interpretar los datos.

Consejo: Matplotlib ofrece una variedad de tipos de gráficos que son fáciles de implementar, lo que lo convierte en una excelente opción para principiantes. Utilice su creatividad para elegir los gráficos que mejor resalten las tendencias y los conocimientos de su análisis.